:root {
    --primary-color: #0A66C2;
    --background-color: #F3F2EF;
    --border-background-color: #EBEBEB;
    --gray: #EEF3F8;
    --dark-gray: #5F6163;
    --brown: rgb(93, 59, 9)
}

[data-theme="dark"] {
    --background-color: black;
}